<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VeritasCode{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body> <!-- CONTROLE SIDEBAR --> <input type="checkbox" id="sidebar-toggle" class="sidebar-toggle">
    <header class="navbar-global">
        <div class="navbar-global-container"> <label for="sidebar-toggle" class="navbar-menu-btn"> <i
                    class="bi bi-list"></i> </label>
            <div class="navbar-logo">
                <div class="navbar-logo-text"> <strong>VeritasCode</strong> </div>
            </div>
        </div>
    </header> <label for="sidebar-toggle" class="sidebar-overlay"></label>
    <aside class="sidebar-global">
        <div class="sidebar-header"> <span class="sidebar-title"> Navegação </span> <label for="sidebar-toggle"
                class="sidebar-close-btn"> <i class="bi bi-x-lg"></i> </label> </div>
        <nav class="sidebar-links"> <a href="{{ url_for('home') }}"
                class="sidebar-link {% if request.endpoint == 'home' %}active{% endif %}"> <i
                    class="bi bi-house-fill"></i> Home </a> <a href="{{ url_for('ranking') }}"
                class="sidebar-link {% if request.endpoint == 'ranking' %}active{% endif %}"> <i
                    class="bi bi-trophy-fill"></i> Ranking </a> <a href="{{ url_for('listagem') }}"
                class="sidebar-link {% if request.endpoint == 'listagem' %}active{% endif %}"> <i
                    class="bi bi-people-fill"></i> Listagem de Deputados </a> <a href="{{ url_for('comparacao') }}"
                class="sidebar-link {% if request.endpoint == 'comparacao' %}active{% endif %}"> <i
                    class="bi bi-people-fill"></i> Comparação </a> <a href="{{ url_for('metodologia') }}"
                class="sidebar-link {% if request.endpoint == 'metodologia' %}active{% endif %}"> <i
                    class="bi bi-calculator-fill"></i> Metodologia </a> </nav>
    </aside> <!-- CONTEÚDO --> {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> {% block
    scripts %}{% endblock %}
</body>